<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<nav class="navbar bg-dark navbar-dark" style="color: black">
    <div class="container-fluid">
        <div class="text-white fs-4 col-10">
            <span class="fw-bold" th:text="${user.getEmail()}" th:object="${user}"></span>
            with roles:
            <span th:each="role : ${user.roleSet}"  th:text="' ' + ${role.toStringName()}"}></span>
        </div>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 15px 0 0;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link" aria-current="page" th:href="@{/admin/show}">User</a>
                </li>
            </ul>
        </div>

        <div class="col-10 bg-light" style="padding: 15px 15px 15px;">
            <h1>Admin panel </h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/new">New User</a>
                </li>
            </ul>

            <div class="col-10 bg-light" style="padding: 15px 15px 15px;">
                <table  class="table table-bordered">
                    <thead class="table-light">
                    <tr>
                        <th>
                            <h4>Add new users</h4>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class=" form-group bg-light bg-white">
                                <form th:method="POST" th:action="@{/admin/new}" th:object="${adduser}">
                                    <div class="mb-2 text-center">
                                        <label for="name" class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                        >First name</label>
                                        <div class="col-4 mx-auto d-flex">
                                            <input type="text" class="form-control" th:field="*{name}" id="name"
                                                   placeholder="First name" required>
                                        </div>
                                    </div>

                                    <div class="mb-2 text-center">
                                        <label for="lastName" class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                        >Last name</label>
                                        <div class="col-sm-4 mx-auto d-flex">
                                            <input type="text" class="form-control" th:field="*{surname}" id="lastName"
                                                   placeholder="Last name" required>
                                        </div>
                                    </div>

                                    <div class="mb-2 text-center">
                                        <label for="age" class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                        >Age</label>
                                        <div class="col-sm-4 mx-auto d-flex">
                                            <input type="text" class="form-control" th:field="*{age}" id="age"
                                                   placeholder="Age" required>
                                        </div>
                                    </div>

                                    <div class="mb-2 text-center">
                                        <label for="email" class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                        >Email</label>
                                        <div class="col-sm-4 mx-auto d-flex">
                                            <input type="text" class="form-control" th:field="*{email}"
                                                   id="email" placeholder="Email" required>
                                        </div>
                                    </div>

                                    <div class="mb-2 text-center">
                                        <label for="password" class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                        >Password</label>
                                        <div class="col-sm-4 mx-auto d-flex">
                                            <input type="password" class="form-control" th:field="*{password}" id="password"
                                                   placeholder="Password" required>
                                        </div>
                                    </div>

                                    <div class="form-group mb-2 text-center">
                                        <label for="roles" class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                        >Roles</label>
                                        <div class="col-sm-4 mx-auto d-flex">
                                            <select class="form-select" th:size="2" multiple aria-label="roles"
                                                    name="roleSet" id="roles">
                                                <option th:each="role : ${roles}"
                                                        th:value="${role.roleId}"
                                                        th:text="${role.toStringName()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success mx-auto d-flex">Add new user</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>